<%= form_for([:admin, @admin_product]) do |f| %>
  <% if @admin_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>

      <ul class="unstyled">
      <% @admin_product.errors.full_messages.each do |msg| %>
        <li class="alert alert-error"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :photo %><br />
		<%= f.text_field :photo %>
	</p>
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description, rows: 5 %>
	</p>
	<p>
		<%= f.label :price %><br />
		<%= f.text_field :price %>
	</p>
	

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
