<h1>Listing products</h1>

<table>
  <tr>
  	<th></th>
    <th>Title</th>
    <th>Categories</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_products.each do |admin_product| %>
  <tr>
  	<td>
  		<% if admin_product.visible %>
  			<%= link_to admin_product_unvisible_path(admin_product) do %>
  				<i class="icon-eye-open"></i>
  			<% end %>
  		<% else %>
  			<%= link_to admin_product_visible_path(admin_product) do %>
  				<i class="icon-eye-close"></i>
  			<% end %>
  		<% end %>
  	</td>
    <td><%= admin_product.title %></td>
    <td><%= admin_product.categories.join(', ') %></td>
    <td><%= admin_product.price %></td>
    <td><%= link_to 'Show', admin_product_path(admin_product) %></td>
    <td><%= link_to 'Edit', edit_admin_product_path(admin_product) %></td>
    <td><%= link_to 'Destroy', admin_product_path(admin_product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_admin_product_path %>
