<div class="span4">
	<img src="<%= @product.photo %>" height='600'>
</div>
<div class="span7">
	<h2><%= @product.title %></h2>
	<p class='label label-info'>$<%= @product.price %></p>
	<p><%= @product.description %></p>
	<% if @product.visible %>
		<p>
			<a class="btn btn-primary" href="<%= cart_add_path @product.id %>">Add to Cart</a>
			<% if current_user %>
				<a class="btn btn-success" id="quick_order1"><%= "Place an order for '#{@product.title}'?" %></a>
				<a class="btn btn-success" id="quick_order2" href="<%= quick_order_path @product %>">OK</a>
			<% end %>
		</p>
	<% end %>
</div>

<%= javascript_include_tag "products" %>
