<!DOCTYPE html>
<html>
<head>
  <title>StoreEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield :menu %>
	<div class="span12">
		<% if flash[:error] %>
  			<div class='alert alert-error'><%=h flash[:error] %></div>
		<% end %>
		<% if flash[:notice] %>
			<div class='alert alert-info'><%=h flash[:notice] %></div>
		<% end %>
	</div>
	<div class="span12">
		<%= content_for?(:content) ? yield(:content) : yield %>
	</div>
</body>
</html>
